@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    margin: 0;
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    overflow: hidden;
    background-image: url(/Assets/Background.png);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
  }

    .logo {
        width: 250px;
        height: auto;
        margin-right: 200px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 20px;
    }

    .slider-inner {
        white-space: nowrap;
        width: 600px;
        overflow-x: hidden;
        margin-left: 20px;
        margin-right: 20px;
    }

 
    .filter {
        margin-left: 5px;
        display: inline-block;
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 16pt;
        border-radius: 15px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        user-select: none;
        color: white;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .links a {
        text-decoration: none;
        color: white;
        font-size: 16pt;
        padding: 10px 16px;
        margin-left: 10px;
    }

    .profile-icon {
        width: 20px;
        height: auto;
    }

    .my-finds-icon {
        width: 20px;
        height: auto;
        margin-left: 5px;
    }