@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    /* overflow: hidden; */
    background-image: url(/Assets/Background.png);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
  }

    .logo {
        width: 250px;
        height: auto;
        margin-right: 200px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 20px;
    }

    i {
        color: white;
        font-size: 3rem;
        pointer-events: auto;
        cursor: pointer;
      }
      
    i:hover {
        color: blueviolet;
    }
        
    .slider {
        position: absolute;
        left: 10%;
        top: 30%;
        width: 80%;
        height: 200px;
        overflow: hidden;
    }
      
      
      
    .slide-img {
        height: 100%;
        background-color: black;
        text-align: center;
        padding: 3rem;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .links a {
        text-decoration: none;
        color: white;
        font-size: 16pt;
        padding: 10px 16px;
        margin-left: 10px;
    }

    .profile-icon {
        width: 20px;
        height: auto;
    }

    .my-finds-icon {
        width: 20px;
        height: auto;
        margin-left: 5px;
    }