@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
  } 

i {
  color: white;
  font-size: 3rem;
  pointer-events: auto;
  cursor: pointer;
}

i:hover {
  color: blueviolet;
}
  
.slider {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 80%;
  height: 200px;
  overflow: hidden;
}



.slide-img {
  height: 100%;
  background-color: black;
  text-align: center;
  padding: 3rem;
}