@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  scroll-behavior: smooth;
}

body {
  background-image: url(../Assets/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ----Custom Scrollbar---- */

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  width: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  width: 50%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

#home {
  overflow: hidden;
}

.heading1 {
  font-size: 25pt;
  color: white;
  display: flex;
  align-items: center;
}

.heading2 {
  font-size: 18pt;
  color: white;
}

.heading3 {
  font-size: 16pt;
  color: white;
}

.subheading1 {
  font-size: 16pt;
  color: rgb(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.subheading2 {
  font-size: 14pt;
  color: rgb(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.subheading3 {
  font-size: 11pt;
  color: rgb(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
/* ----Navbar---- */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 50px 50px;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(20px);
}

.navbar-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  margin-top: 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.logo img {
  height: 50px;
  user-select: none;
  margin-right: 10px;
}

.filter-container {
  position: relative;
  top: 10%;
  width: 58%;
  height: 100%;
  overflow: hidden;
}

.filter-inner {
  position: absolute;
  width: max-content;
  display: flex;
  gap: 10px;
  pointer-events: none;
}

.filter {
  padding: 8px 13px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 16pt;
  user-select: none;
}

.filter a {
  color: white;
  font-size: 16pt;
}

.links {
  display: flex;
  align-content: center;
  user-select: none;
}

.links a {
  position: relative;
  height: max-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16pt;
  transition: all 0.2s;
  padding: 8px 15px;
  border-radius: 12pt;
}

.links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  border: 4px solid rgba(255, 255, 255, 0);
  transition: all 0.2s;
}

.nav-active::before {
  border-color: rgba(255, 255, 255, 0.1);
}

.links a:hover::before {
  border-color: rgba(255, 255, 255, 0.2);
}

.nav-active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  margin: 0px 20px;
}

.links a:hover {
  transform: scale(1.1);
  margin: 0px 20px;
}

.divider {
  height: 20px;
  width: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  align-self: center;
  margin: 0px 5px 0px 5px;
}

.my-finds-icon {
  width: auto;
  height: 30px;
  margin-left: 10px;
}

.profile-icon {
  width: auto;
  height: 30px;
}

.my-finds-icon-p,
.profile-icon-p {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

/* ----Home---- */

.media-carousel {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -55%);
  height: 90%;
  overflow: hidden;
}

.songs {
  position: relative;
  width: 600px;
  height: 600px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.songs li {
  list-style: none;
  height: 600px;
  width: 600px;
  position: absolute;

  font-size: 30px;
  font-weight: 800;
  color: white;
}

.songs li img {
  width: 600px;
  height: 600px;
  border-radius: 30px;
}

.songs li p {
  font-size: 25px;
  font-weight: 600;
  margin-top: 0px;
  color: rgb(255, 255, 255, 0.5);
  white-space: normal; /* Allow text to break */
  line-height: 1; /* Adjust line height if needed */
}


.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 80px;
  padding: 10px;
  border-radius: 100px;
  background: rgb(255, 255, 255, 0.1);
  border: 4px solid rgb(255, 255, 255, 0.1);
}

.top,
.bottom {
  display: flex;
}

.action-btn {
  outline: none;
  border: none;
  font-size: 45px;
  background: none;
  cursor: pointer;
  transition: transform 0.09s ease-in-out; /* Transition on the button */
}

.action-btn:active {
  transform: scale(0.8); /* Scale the button down */
}

.action-btn i {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.action-btn:focus {
  outline: none;
}

.action-btn.interaction.clicked #interaction-icon {
  animation: gradientAnimation 1s ease forwards;
  color: transparent; /* Make the heart icon color transparent */
  background: linear-gradient(45deg, red, purple); /* Apply gradient */
  -webkit-background-clip: text; /* Clip the background to the heart text */
  background-clip: text;
}

@keyframes gradientAnimation {
  0% {
    color: red;
    background: none;
  }
  50% {
    color: linear-gradient(45deg, red, purple);
  }
  100% {
    color: linear-gradient(45deg, red, purple);
  }
}

/* ----Login System---- */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.login-box {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form-box {
  width: 450px;
  margin: 0px 10px;
}

.form-box header {
  color: white;
  font-size: 45px;
  font-weight: 1000;
}

.form-box h1 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

.form-box form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  color: white;
  font-size: 15px;
  font-weight: light;
}

.form-box form .input input {
  height: 40px;
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.btn1 {
  height: 40px;
  background: rgb(119, 6, 136);
  background: linear-gradient(
    127deg,
    rgba(119, 6, 136, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 0px 10px;
}

.btn1:hover {
  transform: scale(0.98);
}

.btn2 {
  height: 40px;
  background: rgb(255, 255, 255, 0.2);
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 8px 10px;
  text-decoration: none;
  text-align: center;
}

.btn2:hover {
  transform: scale(0.98);
}

.submit {
  width: 100%;
}

.small-links {
  margin-bottom: 15px;
  color: rgb(255, 255, 255, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.small-links ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-links p{
  font-size: 12pt;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.small-links a{
  margin-bottom: 15px;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255, 0.1);
  width: 100%;
  text-decoration: none;
}

.small-links p::before,
.small-links p::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
  margin: 0 10px;
}

.message {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px 0px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.edit-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.edit-field .btn1,
.btn2 {
  flex: 1;
}

/* ----Profile---- */

.profile-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  height: 70vh;
  width: 70vw;
  overflow: hidden;
}

.profile-nav {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  height: fit-content;
  border-radius: 40px;
  border: 4px solid rgb(255, 255, 255, 0.2);
  padding: 20px 40px;
  width: fit-content;
}

.profile-nav ul {
  list-style-type: none;
}

.profile-nav__link--profile {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 20px;
  white-space: nowrap;
}

.profile-nav__link--profile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-nav__link--profile .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.profile-nav__link--profile .name {
  font-weight: bold;
  font-size: 20pt;
  margin: 0;
}

.profile-nav__link--profile .username {
  color: rgb(255, 255, 255, 0.5);
  font-size: 14pt;
  margin: 0;
}

.profile-nav__link {
  height: fit-content;
  padding: 5px 10px;
  align-content: center;
  cursor: pointer;
  border-radius: 14pt;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
  font-size: 20pt;
  border: 4px solid rgb(255, 255, 255, 0);
}

.profile-nav__link i,
.profile-nav__link--logout i {
  margin-right: 10px;
}

.profile-nav__link:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.profile-nav .active {
  background-color: rgb(255, 255, 255, 0.1);
  border: 4px solid rgb(255, 255, 255, 0.1);
}

.profile-nav__link--logout {
  background-color: rgba(255, 0, 0, 0.4);
  color: white;
  border: 4px solid rgb(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 14pt;
  cursor: pointer;
  font-size: 20pt;
  transition: all 0.3s ease;
  text-align: left;
  margin-top: 15px;
}

.profile-nav__link--logout:hover {
  background-color: rgba(255, 0, 0, 0.6);
  border: 4px solid rgb(255, 255, 255, 0.1);
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.profile-content {
  flex-grow: 1;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  overflow-y: auto; /* Allows scrolling if content overflows */
  overflow-x: hidden;
  border-radius: 40px;
  border: 4px solid rgb(255, 255, 255, 0.2);
  color: white;
}

.badge__slider--container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: 50px;
}

.badge__slider--inner {
  width: max-content;
  display: flex;
  gap: 10px;
  pointer-events: none;
}

.badge__slider--badge {
  user-select: none;
}

.badge__slider--badge img {
  width: 120px;
}

.favourite__slider--container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: 50px;
  overflow: hidden;
}

.favourite__slider--inner {
  position: relative;
  width: max-content;
  display: flex;
  gap: 15px;
  pointer-events: none;
  top: 10px;
}

.favourite__slider--favourite {
  user-select: none;
}

.favourite__slider--favourite img {
  width: 120px;
  border-radius: 20px;
}

.favourite__slider--favourite ul{
  width: 120px;
}

.pro-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pro-info {
  display: flex;
  gap: 5px;
}

.infographic {
  width: 400px;
  height: 400px;
  margin: -15px -15px;
}

.pro-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1px;
}

.pro-details .detail {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  background: rgb(255, 255, 255, 0.1);
  border: 4px solid rgb(255, 255, 255, 0.1);
  border-radius: 20px;
}

.pro-details .detail img {
  width: 40px;
}

.pro-details .detail p {
  font-size: 14pt;
  color: rgb(255, 255, 255, 0.6);
}

.buy-pro {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  background: rgb(255, 255, 255, 0.1);
  border: 4px solid rgb(255, 255, 255, 0.1);
  border-radius: 20px;
}

.buy-pro p {
  font-size: 20pt;
}

.buy-pro .highlight {
  font-size: 30pt;
  font-weight: 900;
  background: rgb(255, 0, 0);
  background-image: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(119, 6, 136, 1) 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.buy-pro .buy-btn {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(119, 6, 136, 1) 100%
  );
  font-size: 32px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  border-radius: 100px;
  box-shadow: inset 0 0 0 4px rgb(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
}

.buy-pro .buy-btn:hover {
  transform: scale(0.9);
}

.buy-pro .buy-btn img {
  width: 40px;
}

.history {
  color: rgb(255, 255, 255, 0.5);
  font-weight: 400;
  width: 100%;
  height: 100%;
  top: 10px;
  overflow: hidden;
}

.history,
th,
td {
  padding: 10px 0px;
}

.history th {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
}

.history td h2 {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.history td p {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
}

.history .title {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.history img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
}

.details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.top-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 5px;
}

.detail-box {
  background-color: rgb(255, 255, 255, 0.2);
  padding: 10px;
  flex: 1;
  border-radius: 10px;
  text-align: center;
  border: 4px solid rgb(255, 255, 255, 0.1);
}

.detail-box-right {
  margin-right: 0;
  width: 250px;
}

.bottom-details {
  background-color: rgb(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  border: 4px solid rgb(255, 255, 255, 0.1);
}

.btn-edit-profile {
  padding: 5px 10px;
  border-radius: 10px;
  background: rgb(255, 255, 255, 0.2);
  color: white;
  text-decoration: none;
  font-size: 12pt;
  border: 4px solid rgb(255, 255, 255, 0.1);
}

.settings__container {
  display: flex;
  gap: 10px;
  width: 100%;
  position: relative; /* Add relative positioning to the parent container */
  margin-top: 20px;
}

.settings__container--settings {
  height: fit-content;
  width: 70%;
  background: rgba(255, 255, 255, 0.1);
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 10px;
}

.settings__container--tooltip {
  width: 30%;
  background: rgba(255, 255, 255, 0.1);
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 10px;
  position: relative;
  transition: all 0.5s ease;
}

.settings__container--setting {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  cursor:context-menu;
}

.settings__container--setting:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.tooltip__preview-length,
.tooltip__auto-scroll,
.tooltip__push-notification,
.tooltip__default-platform {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  top: 0;
  display: none;
  width: 100%;
  flex-direction: column;
}

.tooltip-visible {
  visibility: visible;
  opacity: 1;
  display: flex;
  transition: all 0.5s ease;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.1);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 6px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(145deg, rgba(255,0,0,1) 0%, rgba(119,6,136,1) 100%);
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255, 0.4);
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.preview-length__dropdown {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.dropdown-btn {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  margin-top: 5px;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.show {
  display: block;
}

/* ----MyFinds---- */

.myfinds-container {
  position: absolute;
  top: 150px;
  width: 100%;
  overflow: hidden;
}

.myfinds-container h1,
.myfinds-container .subheading1 {
  width: 80%;
  margin: auto;
}

.myfinds {
  color: rgb(255, 255, 255, 0.5);
  font-weight: 400;
  width: 80%;
  height: 80%;
  margin: auto;
  top: 100px;
  max-height: 800px;
  overflow: hidden;
}

.myfinds,
th,
td {
  padding: 10px 0px;
}

.myfinds th {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
}

.myfinds td h2 {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.myfinds td p {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
}

.myfinds .title {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.myfinds img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
}
