@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Sofia Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  background-image: url(/Assets/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ----Navbar - All Pages---- */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  margin-top: 20px;
}

.logo img {
  height: 50px;
  user-select: none;
}

.slider {
  position: relative;
  top: 10%;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.slider-inner {
  position: absolute;
  width: max-content;
  display: flex;
  gap: 10px;
  pointer-events: none;
}

.filter {
  padding: 8px 13px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 16pt;
  user-select: none;
}

.filter a {
  color: white;
  font-size: 16pt;
}

.links {
  display: flex;
  align-content: center;
}

.links a {
  position: relative;
  height: max-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16pt;
  transition: all .2s;
  padding: 8px 15px;
  border-radius: 12pt;
}

.links a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  border: 4px solid rgba(255, 255, 255, 0);
  transition: all 0.2s;
}

.nav-active::before {
  border-color: rgba(255, 255, 255, 0.1);
}

.links a:hover::before {
  border-color: rgba(255, 255, 255, 0.2);
}

.nav-active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  margin: 0px 20px;
}

.links a:hover {
  transform: scale(1.1);
  margin: 0px 20px;
}

.divider {
  height: 20px;
  width: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  align-self: center;
  margin: 0px 5px 0px 5px;
}

.my-finds-icon {
  width: auto;
  height: 30px;
  margin-left: 10px;
}

.profile-icon {
  width: auto;
  height: 30px;
}

.my-finds-icon-p, .profile-icon-p {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

/* ----Profile---- */

.profile-container {
  margin-top: 80px;
  margin-left: 20vw;
  display: flex;
  gap: 10px;
  height: 60vh;
  width: 80vw; 
  max-width: 1200px;
  overflow: hidden;
}

.profile-nav {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  height: max-content;  /* Make it take up the full height of the container */
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255, 0.2);
  padding: 40px 40px 40px 0px;
}

.profile-nav ul {
  list-style-type: none;
}

.profile-link {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 20px;

}

.profile-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
} 

.profile-link .name {
  font-weight: bold;
  font-size: 20pt;
  margin: 0;
}

.profile-link .username {
  color: rgb(255, 255, 255, 0.5);
  font-size: 14pt;
  margin: 0;
}

.profile-nav .nav-link {
  height: fit-content;
  padding: 5px 10px;
  align-content: center;
  cursor: pointer;
  border-radius: 14pt;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
  font-size: 20pt;
  border: 4px solid rgb(255, 255, 255, 0);
}

.profile-nav .nav-link:hover {
  background-color: rgb(255, 255, 255, 0.2);

}

.profile-nav .nav-link.active {
  background-color: rgb(255, 255, 255, 0.1);
  border: 4px solid rgb(255, 255, 255, 0.1);
}

/* Content Area Styles */
.content-area {
  flex-grow: 1;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  overflow-y: auto; /* Allows scrolling if content overflows */
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255, 0.2);
  color: white;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}
