@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sofia Sans", sans-serif;
    font-style: italic;
    font-weight: bold;
}
body{
    background-image: url(../Assets/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    color: white;
    font-size: 45px;
    font-weight: 1000;
}
.form-box h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    color: white;
    font-size: 15px;
    font-weight: light;
}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}
.btn{
    height: 40px;
    background: rgb(119,6,136);
    background: linear-gradient(127deg, rgba(119,6,136,1) 0%, rgba(255,0,0,1) 100%);
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    transform: scale(0.98);
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
    color: white;
}

/********* Home *****************/

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    
}
.logo a{
    text-decoration: none;
    color: #000;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message{
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 0px;
    border:4px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: white;
    font-size: 20px;
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
    margin-top: 20px;
  }
  
  .logo img {
    height: 50px;
    user-select: none;
  }
  
  .slider {
    position: relative;
    top: 15%;
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  
  .slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    display: flex;
    gap: 10px;
    pointer-events: none;
    transition: 0s ease-in-out;
  }
  
  .filter {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 5px 10px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    flex-shrink: 0;
    user-select: none;
  }
  
  .filter a {
    color: white;
    font-size: 16pt;
    cursor: pointer;
    font-weight: bold;
  }
  
  .links {
    display: flex;
    text-align: center;
    justify-content: center; /* For centering horizontally if needed */
    align-items: center; /* Vertically center text and icons */
  }
  
  .links a {
    display: flex; /* Turn each link into a flex container */
    align-items: center; /* Vertically center content within each link */
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16pt;
    transition: all .2s;
  }
  
  .links a:hover {
    transform: scale(1.2);
  }
  
  .divider {
    height: 20px;
    width: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin: 10px;
  }
  
  .my-finds-icon {
    width: 30px;
    height: auto;
    margin-left: 10px;
  }
  
  .profile-icon {
    width: 30px;
    height: auto;
  }
  
  .my-finds-icon-p {
    width: 30px;
    height: auto;
    margin-left: 10px;
  }
  
  .profile-icon-p {
    width: 30px;
    height: auto;
    margin-left: 10px;
  }
  
  /* ----Profile---- */
  
  .container {
    margin-top: 80px;
    margin-left: 20vw;
    display: flex;
    gap: 10px;
    height: 60vh;
    width: 80vw; 
    max-width: 1200px;
    overflow: hidden;
  }
  
  .vertical-nav {
    background-color: rgb(255, 255, 255, 0.2);
    color: white;
    height: max-content;  /* Make it take up the full height of the container */
    border-radius: 20px;
    border: 4px solid rgb(255, 255, 255, 0.2);
    padding-right: 40px;
  }
  
  .vertical-nav ul {
    display: block;
    list-style-type: none;
  }
  
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0px 10px;
    margin-bottom: 20px;
  }
  
  .profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .name {
    font-weight: bold;
    font-size: 16pt;
    margin: 0;
  }
  
  .username {
    color: rgb(255, 255, 255, 0.5);
    font-size: 12pt;
    margin: 0;
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 5px;
  } 
  
  .vertical-nav .nav-item {
    height: fit-content;
    padding: 5px 10px;
    align-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px;
    font-size: 16pt;
    border: 4px solid rgb(255, 255, 255, 0);
  }
  
  .vertical-nav .nav-item:hover {
    background-color: rgb(255, 255, 255, 0.2);
  
  }
  
  .vertical-nav .nav-item.active {
    background-color: rgb(255, 255, 255, 0.2);
    border: 4px solid rgb(255, 255, 255, 0.2);
  }
  
  /* Content Area Styles */
  .content-area {
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    overflow-y: auto; /* Allows scrolling if content overflows */
    border-radius: 20px;
    border: 4px solid rgb(255, 255, 255, 0.2);
    color: white;
  }
  
  .content-section {
    display: none;
  }
  
  .content-section.active {
    display: block;
  }
  